body {
    background-color:rgb(194, 194, 194); color:rgb(19, 18, 18)
}
.titulo-1 {
  padding-left: 30px;
}
.img {
  display: flex;
  justify-content: center;
}
#logo {
  width: 50%;
  
}
h2 {
  text-align: center; 
}   
#body {
  background-color: darkgrey;
}
#ashes {
   color:darkred; font-size: 26px; text-align: center
}
.itens {
  font-style: italic;
  font-size: 22px;
}
ul {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  margin-right: 27%;
}
#game {
  width: 20%;
}
footer {
  text-align: center;
  background: url(images/bg.jpg);
  }
#bomb {
  width: 10%;
}
.cp {
  color: white;
  font-size: 13px;
  margin: 20px 0 0;
}