header {
    background-color:rgb(194, 194, 194);
}
.box {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
.img {
    width: 15%;
}
.img-1 {
    border: 2px solid black;
    border-radius: 10px;
}
.img-1:hover {
    border-color: cornflowerblue;
}
.img-1:active{
    border-color: blue;
}
nav {
    position: absolute;
    top: 110px;
    right: 0px;
}
nav li {
    display: inline;
    margin-left: 15px;
}
nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    text-decoraion: none;
}
nav a:hover {
    color: blue;
    text-decoration: underline;
}
.bosses {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.bosses li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
}
.bosses li:hover h2 {
    font-size: 35px;

}
.bosses h2 {
    font-size: 25px;
    font-weight: bold;
}
.power {
    font-size: 20px
}
footer {
    text-align: center;
    background: url(images/bg.jpg);
}
#bomb {
    width: 10%;
}
.cp {
    color: white;
    font-size: 13px;
    margin: 20px 0 0;
}
main {
    width: 940px;
    margin: 0 auto;
}
form {
    margin: 40px 0;
}
form label, legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
.input-1 {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 40%;
}
.chkbx {
    margin: 20px 0;
}
